
* 
{
    margin: 0;
    padding: 0;
}

.NavHeader
{
    display:flex;
    width:100%;
    height:50px;
    background-color:#6E84D6;
    align-items:center;
    justify-content:center;
}

.NavHeader *
{
    display:flex;
}

.NavHeader a
{
    color:white;
    display:flex;
    text-decoration:none;
    width:200px;
    height:50px;
    border-left:solid;
    border-left-width:2px;
    border-left-color:#1D0772;
    align-items:center;
    justify-content:center;
}

.NavHeader a:hover
{
    background-color:#4867D6;
    font-size:20px;
}

.NavHeader a:last-child
{
    border-right:solid;
    border-right-width:2px;
    border-right-color:#1D0772;
}

footer
{
    margin-top:20px;
    background-color:#4577D4;
    display:flex;
    width:100%;
    height:auto;
    flex-direction:column;
    align-items:center;
    justify-content:center;  
    color:#FFA500;
}

footer div:nth-child(odd)
{
    display:flex;
    width:90%;
    height:auto;
    border-bottom:solid;
    border-bottom-color:#FFD273;
    border-bottom-width:1px;
    border-right:solid;
    border-right-color:#FFD273;
    border-right-width:1px;
    border-left:solid;
    border-left-color:#FFD273;
    border-left-width:1px;
}

footer div:nth-child(even)
{
    display:flex;
    width:90%;
    height:auto;
    border-bottom:solid;
    border-bottom-color:#FFD273;
    border-bottom-width:1px;
    border-right:solid;
    border-right-color:#FFD273;
    border-right-width:1px;
    border-left:solid;
    border-left-color:#FFD273;
    border-left-width:1px;
}

.AnimatedHeader
{
    margin-top:20px;
    width:100%;
    display:flex;
    height:75px;
}

.AnimatedHeader h1
{
    display:flex;
    font-size:46px;
    text-shadow: 4px 4px 3px gray;
    font-family:blades_gf_free;
    color:blue;
}

.AnimatedHeader > div:first-child 
{
    justify-content:flex-end;
}

.AnimatedHeader > div:first-child img:last-child
{
    transform:rotate(20deg);
    animation:HeaderAnimationClockwise 5s linear infinite;
}

.AnimatedHeader > div:first-child img:first-child
{
    left:16px;
    position:relative;
    animation:HeaderAnimationAnticlockwise 5s linear infinite;
}

.AnimatedHeader > div:last-child img:first-child
{
    transform:rotate(20deg);
    animation:HeaderAnimationAnticlockwise 5s linear infinite;
}

.AnimatedHeader > div:last-child img:last-child
{
    right:16px;
    position:relative;
    animation:HeaderAnimationClockwise 5s linear infinite;
}

.AnimatedHeader > div:last-child img
{
    justify-content:flex-start;
}

.AnimatedHeader img
{
    display:inline-flex;
    width:75px;
    max-height:100px;
    object-fit:scale-down;
}

.AnimatedHeader div:nth-child(even)
{
    width:50%;
    display:inline-flex;
    height:75px;
    justify-content:center;
    align-items:center;
}

.AnimatedHeader div:nth-child(odd)
{
    background-color:#4869D6;
    display:inline-flex;
    height:75px;
    width:25%;
}

.AsideWithMenu 
{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:216px;
    min-width:216px;
    height:200px;
    min-height:200px;
    text-align:center;
    color:#FFB273;
}

.AsideWithMenu *
{
    display:flex;
}

.AsideWithMenu h2
{
    float:left;
    width:100%;
    height:12.5%;
    background-color:#015666;
    color:#FFA500;
}

menu
{
    display:flex;
    flex-direction:column;
    width:100%;
    height:87.5%;
    background-color:#04859D;
}

menu select
{
    background-color:#206876;
    color:#BF7130;
}

menu *
{
    display:flex;
}

menu div
{
    width:100%;
    height:40px;
    align-items:center;
    justify-content:flex-start;
}

menu > *
{
    height:14%;
}

@keyframes HeaderAnimationClockwise
{
    from{
        transform:rotate(20deg)
    }
    to{
        transform:rotate(380deg)
    }
}

@keyframes HeaderAnimationAnticlockwise
{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(-360deg)
    }
}

@font-face 
{
    font-family: blades_gf_free;
    src: url(../Fonts/blades_gf_free.ttf); 
}

@media screen and (max-width:1005px)
{
    .AnimatedHeader div:nth-child(even)
    {
        left:5px;
        position:relative;
    }
}

@media screen and (max-width:585px)
{
    .AnimatedHeader
    {
        margin-top:40px;
        width:100%;
        display:flex;
        height:150px;
    }

    .AnimatedHeader > div:first-child
    {
        display:none;
    }

    .AnimatedHeader > div:last-child
    {
        display:none;
    }

    .AnimatedHeader div:nth-child(even)
    {
        width:100%;
        display:inline-flex;
        height:150px;
        justify-content:center;
        align-items:center;
    }
}

@media screen and (max-width:560px)
{
    .NavHeader
    {
        display:flex;
        width:100%;
        height:200px;
        background-color:#6E84D6;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }

    .NavHeader a
    {
        color:white;
        display:flex;
        text-decoration:none;
        width:200px;
        height:50px;
        border:solid;
        border-width:1px;
        border-color:#1D0772;
        align-items:center;
        justify-content:center;
        border-left:solid;
        border-left-width:2px;
        border-left-color:#1D0772;
        border-right:solid;
        border-right-width:2px;
        border-right-color:#1D0772;
    }

    .NavHeader a:last-child
    {
        border:solid;
        border-width:1px;
        border-color:#1D0772;
        border-left:solid;
        border-left-width:2px;
        border-left-color:#1D0772;
        border-right:solid;
        border-right-width:2px;
        border-right-color:#1D0772;
    }
}