
/*Задаем позиционирование и z-index для body, чтобы изображения при увеличении (по наведению курсора) могли находиться выше по оси z  */
body {
    position:relative;
    z-index:0;
}

main
{
    width:calc(100% - 216px);
    height:700px;
    background-color:#6A94D4;
    float:right;
}

main *
{
    display:flex;
}

main section
{
    flex-direction:column;
    margin-left:5%;
    width:90%;
    height:auto;
    text-align:center;
}

main section > header
{
    display:flex;
    font-size:30px;
    height:auto;
    width:100%;
    background-color:#1437AD;
    justify-content:center;
    align-items:center;
    color:#FFBE00;
    font-weight:bold;
}

main article
{
    height:85%;
    width:100%;
    position:relative;
}

article > *
{
    display:inline-block;
    float:left;
}

article div 
{
    width:calc(100% - 170px);
    height:100%;
}

article div > *
{
    display:inline-block;
    float:left;
}

article img
{
    display:flex;
    width:100%;
    height:100%;
}

.DivWithImage
{
    align-items:center;
    justify-content:center;
    display:flex;
    width:170px;
    height:147px;
}

article img:hover
{
    width:auto;
    height:auto;
    position:relative;
    z-index:1;
}

article header
{
    width:100%;
    height:100%;
    font-size:20px;
}

article header h3
{
    justify-content:center;
    width:100%;
    height:85%;
    font-size:27px;
    color:#FFFD00;
}

article header div
{
    width:100%;
    height:15%;
    text-align:center;
}

.DivWithReference
{
    display:flex;
    justify-content:center;
}

.DivWithReference a
{
    display:flex;
    justify-content:center;
}

article header div a
{
    width:90%;
    height:100%;
    text-decoration:none;
    background-color:#BF9330;
    border-radius:5px;
    color:white;
    font-weight:bold;
}

article header div a:hover
{
    background-color:#FFB000;
    color:blue;
}

time
{
    display:block;
    width:100%;
    height:15%;
    font-size:20px;
    text-wrap:normal;
    border-top:solid;
    border-top-color:orange;
    border-top-width:2px;
    color:#FFFC00;
}

.MainDiv
{
    margin-top:20px;
    display:flex;
    width:100%;
    height:auto;
}

.MainDiv main
{
    display:flex;
    height:auto;
}

.DivWithArticle
{
    margin-top:10px;
    flex-direction:column;
    height:auto;
    width:100%;
    margin-top:2%;
    border:solid;
    border-color:orange;
    border-width:2px;
    background-color:#0F4DA8;
    position:relative;
}

.DivWithArticle:nth-of-type(1)
{
    animation: ArticleAppearanceAnimation 0.5s linear;
    animation-fill-mode:backwards;
}

.DivWithArticle:nth-of-type(2)
{
    animation: ArticleAppearanceAnimation 0.5s linear;
    animation-delay:0.5s;
    animation-fill-mode:backwards;
}

.DivWithArticle:nth-of-type(3)
{
    animation: ArticleAppearanceAnimation 0.5s linear;
    animation-delay:1s;
    animation-fill-mode:backwards;
}

article > div:last-child
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:auto;
}

article > div:last-child *
{
    height:auto;
}

@-moz-document url-prefix() 
{

    .DivWithArticle
    {
        margin-top:10px;
        flex-direction:column;
        height:auto;
        width:100%;
        margin-top:2%;
        border:solid;
        border-color:orange;
        border-width:2px;
        background-color:#0F4DA8;
        position:relative;
    }

    main section
    {
        flex-direction:column;
        margin-left:5%;
        width:90%;
        height:100%;
        padding-bottom:50px;
        text-align:center;
    }

    .DivWithImage
    {
        align-items:center;
        justify-content:center;
        display:flex;
        width:170px;
        height:147px;
    }

    article img:hover
    {
        width:293px;
        height:244px;
        position:relative;
        z-index:1;
    }
}

@media screen and (max-width:700px)
{
    .MainDiv
    {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100%;
        height:auto;
    }

    .MainDiv > *
    {
        display:flex;
    }

    .AsideWithMenu
    {
        float:none;
    }

    main
    {
        width:100%;
    }
}

@media screen and (max-width:414px)
{
    .DivWithImage
    {
        display:none;
    }

    article > div:last-child
    {
        display:flex;
        justify-content:center;
        align-items:center;
        height:auto;
        width:100%;
    }
}

@keyframes ArticleAppearanceAnimation
{
    from
    {
        left:-100px;
        position:relative;
        opacity:0;
    }
    to
    {
        left:0px;
        position:relative;
        opacity:1;
    }
}

