
@using NewsWebsite.ClassesForNewsWebsite
@using NewsDataAccess
@model NewsWebsite.Models.TestClassWithWebsiteData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
    <link href="~/CSS/News.css" rel="stylesheet"/>
</head>
<body>
    <div> 
        <div class="FlexColumnCenter">
            <p class="HeaderForMainPage">@Resources.Texts.HeaderLatestNews</p>
            <div class="DivWithDisguisedLink">
                @Html.ActionLink(Resources.Texts.LinkToAllNews, "Index", new { area = "News", controller = "News" })
                @Html.ActionLink(Resources.Texts.LinkToAdmin, "Index", new { area = "Admin", controller = "Admin" })
            </div>
        </div>
        @foreach (News CurrentNews in Model.TestListOfNews)
        {
            <div class="FlexColumnCenter">
                    @Html.Partial(ApplicationConstants.PathFromRouteToNewsPartialView, new NewsForPartialView(CurrentNews))               
            </div>
        }
    </div>
</body>
</html>
