body {
}

h1
{
    margin-top:50px;
    width:100%;
    text-align:center;
}

img
{
    width:400px;
    height:200px;
}

#DivWithAllImages
{
    overflow:visible;
}

a
{
    margin-bottom:50px;
}

#GalleryDiv
{

}
