body {
}

/*Обнуляем все падинги и маржины выставленные браузером*/
* {
margin: 0;
padding: 0;
}

.ListOfSvgIcons
{
    display:none;
}

.MobileSvg
{
    width:24px;
    height:32px;
    top:6px;
    position:relative;
    color:#00aeef;
}

.BluePathForSvg
{
    fill:#00aeef
}

.BlueMenu
{
    margin-top:100px;
    background-color:#00aeef;
    width:100%;
    height:50px;
    overflow-x:auto;
    overflow-y:hidden;
    min-width:972px;
    margin-bottom:0px;
    font-family:Calibri;
}

.LogoImage
{
    width:120px;
    height:50px;
    float:left
}

.BlueMenuOption
{
    display:inline-block;
    float:left;
    margin-left:15px;
    text-align:center;
}

.BlueMenuOption img
{
    width:16px;
    height:16px;
    margin-top:8px;
}

.BlueMenuOption div
{
    display:inline-block;
    float:left;
}

.BlueMenuOption div:last-child
{
    margin-top:10px;
}

.BlueMenuOption h3
{
    color:white;
    margin-top:15px;
}

.BlueMenuTextOption
{

}

.RelaxByRef
{
    width:120px;
    height:50px;
    float:left;
    margin-left:10%;
}

.OrangeMenuOption
{
    margin-top:5px;
    background-color:#FF460D;
    height:36px;
    border:solid;
    border-color:white;
}

.OrangeMenuOption h4
{
    color:white;
    margin-top:10px;
}

.EnterMenuOption
{
    display:inline-block;
    float:right;
    text-align:center;
    height:50px;
    margin-right:10%;
}

.EnterMenuOption h4
{
    color:white;
    margin-top:15px;
}

.EnterMenuOption div
{
    float:left;
}

.EnterMenuOption div:first-child
{
    margin-top:10px;
}

.SecondTopMenu
{
    background-color:#e5f5fc;
    width:100%;
    height:75px;
    margin-top:0px;
    min-width:850px;
}

.SecondTopMenu > div
{
    background-color:transparent;
    width:100%;
    height:44px;
    margin-top:0px;
    min-width:972px;
    top:14px;
    position:relative;
}

.SearchInput
{
    top:3px;
    position:relative;
    height:40px;
    width:520px;
    font-size:28px;
    border: none;
    border-color: transparent;
}

.SearchInput:focus
{
   outline: none;
}

.SearchDivUnderBlueMenu
{
    background-color:blueviolet;
    width:615px;
    height:44px;
    margin-left:10%;
    background-color:white;
    border: 1px solid #a3bbc5;
    border-radius: 3px; 
    display:inline-block;
    float:left;
}

.SearchDivUnderBlueMenu a
{
    width:85px;
    height:30px;
    display:inline-block;
    top:-10%;
    position:relative;
}

.SearchDivUnderBlueMenu a div
{
    border-radius: 3px; 
    border-color:#a8c3cf;
    background-color:#a8c3cf;
    color:white;
    width:85px;
    height:30px;
    font-size:20px;
    text-align:center;
}

.SearchDivUnderBlueMenu a div p
{
    top:2px;
    position:relative;
}

.SearchDivUnderBlueMenu a
{
    text-decoration:none;
}

.DivAddCompanyButton
{
    display:inline-block;
    margin-left:24px;
    width:200px;
    height:44px;
    float:left;
}

.DivAddCompanyButton input
{
    border: 1px solid #00aeef;
    border-radius: 3px; 
    background-color: transparent;
    font-size:17.5px;
    font-weight:normal;
    width:200px;
    height:44px;
}

.DivDownloadMobileApp
{
    display:inline-block;
    width:172px;
    height:44px;
    margin-left:40px;
    font-size:14px;
    float:left;
}

.DivDownloadMobileApp p
{
    width:75%;
    display:inline-block;
    margin-left:9px;
    color: rgba(0,0,0,.5);
    text-decoration:none;
}

.DivDownloadMobileApp a
{
    text-decoration:none;
}

.TopNavigationPanel
{
    display:flex;
    width:100%;
    height:150px;
    align-items:center;
    justify-content:center;
    min-width:972px;
}

.TopNavigationPanel div
{
    display:flex;
    width:972px;
    height:150px;
    background-color:blue;
}

@media screen and (max-width:1200px)
{
    .RelaxByRef
    {
        width:120px;
        height:50px;
        float:left;
        margin-left:5px;
    }

    .SearchDivUnderBlueMenu
    {
        background-color:blueviolet;
        width:395px;
        height:44px;
        margin-left:5px;
        background-color:white;
        border: 1px solid #a3bbc5;
        border-radius: 3px; 
    }

    .SearchInput
    {
        top:3px;
        position:relative;
        height:40px;
        width:300px;
        font-size:28px;
        border: none;
        border-color: transparent;
    }
}

@media screen and (max-width:1000px)
{
    .EnterMenuOption
    {
        display:inline-block;
        float:right;
        text-align:center;
        height:50px;
        margin-right:5px;
    }
}