
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    <div> 
        @Html.ActionLink("About", "About", "Home");
        @Html.ActionLink("Index", "Index", "Home");
        <p>Empty page for contacts.</p>
    </div>
</body>
</html>
