
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>This image was provided by SecondTestMVCApplication (this is default View from HomeController)</p>
        <img src='~/Images/BrownChecker.png' width='120' height='120' alt='Checker'> 
    </div>
</body>
</html>
