
@using RaceInfrastructure
@using RaceWebsite.ClassesForRaceWebsite

@model IEnumerable<Car>

@{
    Layout = null;
}

<span>Participants</span>
@foreach (Car CurrentCar in Model)
{
    @Html.Partial(ApplicationConstants.PathFromRouteToCarPartialView, CurrentCar);
}