
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPageForIEUsers</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="FlexColumnCenter">
        <p class="ErrorMessage">@Resources.Texts.ErrorMessageForIEUsers</p>       
    </div>
</body>
</html>
