body {
}

*{
    display:flex;
    justify-content:center;
    align-content:center;
    margin: 0;
    padding: 0;
}

.DivForTestOfTextInputAndOutput{
    flex-direction:column;
}

script{
    display:none;
}