
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Areas.Admin.Models.RaceAdminModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet"/>
</head>
<body>
    <div class="FlexColumnCenter">
        @if (Model.RaceHasNotStartedYet)
        {
            <div>
                <input type="button" value="@Resources.Texts.ButtonStartRace" />
            </div>
        }
        else
        {
            <span>@Resources.Texts.SpanRaceHasAlreadyStartedYouMustWait</span>
        }
        @Html.Partial(ApplicationConstants.PathFromRouteToCarsCollectionPartialView, Model.ListOfCars); 
    </div>
</body>
</html>
