
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("To admin home page", "Index", "Home");
        <p>On this page you can view products.</p>
    </div>
</body>
</html>
