<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--Добавляем коллекцию конечных точек для службы класса TestApplication.SubstructClass-->
    <system.serviceModel>
      <services>
        <service name="TestApplication.SubstructClass">         
          <endpoint address="http://localhost:8080/TestService/EndPoint_1" bindingConfiguration="MyBinding" binding="netHttpBinding" contract="TestApplication.MyServiceInterfface">         
          </endpoint>
        </service>
      </services>
  <!--Создаем свой именованный binding для использования в endpoint--> 
    <bindings>
      <netHttpBinding>
        <binding name="MyBinding">
          <reliableSession enabled="true"/>
        </binding>
      </netHttpBinding>
    </bindings>
    </system.serviceModel>
</configuration>