
ol.List
{
    display:none
}

li:hover > ol.List
{
    display:block
}

.ToLeft
{
    float:left
}

div ~ p/* Этот стиль будет воздействовать на все теги р которые находятся на одном уровне с тегом  div и находятся ниже его*/
{
    color:darkviolet;
    font-family:'Bell MT';  
}

b + b/*Этот стиль воздействует на два идущих подряд на одном уровне иерархии тега b (если тегов больше чем два, то стиль будет применен к двум последним)*/
{
    color:grey
}

p[title = "SuperText"]/*Этот стиль воздействует только на теги p, у которых атрибуту  title присвоено значение "SuperText"*/
{
    color:lightblue
}

b:target/*Этот стиль будет применен к тегу b, чей id был указан в адрессной строке браузера (например "адрес + #IdOfElement")*/
{
    font-size:xx-large
}

::selection/*selection указывает как будет изменяться текст при выделении (может быть указан для конкретных элементов: например h1::selection установит стиль выделения для тегов h1)*/
{
    color:brown
}
