
*{
    margin:0;
    padding:0;
}

.MarginCenter
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.FlexRowCenter
{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;    
}

.FlexItemWithText
{
    display:flex;
    flex-direction:column;
    justify-content:center;    
}

.ErrorMessage{
    color:red;
    font-size:20px;
}

