
* {
margin: 0;
padding: 0;
}

body {
}

.FlexColumnCenter
{
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    text-align:center;
}

.FlexColumnCenter .DivWithRacerColor
{
    width:100px;
    height:25px;
    margin-left:auto;
    margin-right:auto;
}

.MarginsLeftAndRightAuto
{
    margin-left:auto;
    margin-right:auto;
}

.InputForName
{
    width:200px;
}

.InputForInt64
{
    width:200px;
}

.DivWithRacerInfo > *
{
    margin-top:25px;
}

.Title
{
    font-weight:bold;
}

.ErrorMessage
{
    color:red;
}

.SuccessMessage
{
    color:green;
}

