body {
}

.MainToCenter
{
    width:30%;
    margin:auto
}

.MainSiteHeader
{
    text-align:center;
    width:30%;
    margin:auto
}

.MainSiteHeader h1
{
    text-shadow:5px 5px 5px gray;
}

.MainSiteFooter
{
    text-align:center;
    width:30%;
    margin:auto;
}

a:hover
{
    color:red
}
