body {
}

.MainToCenter
{
    width:30%;
    margin:auto
}

.MainSiteHeader
{
    text-align:center;
    width:30%;
    margin:auto
}

.MainSiteFooter
{
    text-align:center;
    width:30%;
    margin:auto
}
