
/*Задаем позиционирование и z-index для body, чтобы изображения при увеличении (по наведению курсора) могли находиться выше по оси z  */
body 
{
    position:relative;
    z-index:0;
}

body *
{
    display:flex;
}


section img
{
    width:350px;
    height:200px
}

section img:hover
{
    position:relative;
    top:0px;
    left:0px;
    width:600px;
    height:350px;
    z-index:1;
}

main
{
    width:calc(100% - 216px);
    height:auto;
    background-color:#6A94D4;
    justify-content:center;
}

main section
{
    width:90%;
    flex-direction:column;
    padding-bottom:10px;
    align-items:center;
}

main section > div
{
    margin-top:20px;
    background-color:#0C5DA5;
}

main section > div p
{
    color:#FF9500;
}

main section > div a
{
    color:aqua;
}

main section > div a:hover
{
    color:#eaf30e;
    font-weight:bold;
}


main section > header
{
    font-size:30px;
    height:auto;
    width:100%;
    background-color:#1437AD;
    color:#FFBE00;
    font-weight:bold;
    justify-content:center;
}

main section > div > h3
{
    font-size:30px;
    height:auto;
    width:100%;
    background-color:#1437AD;
    color:#FFBE00;
    font-weight:bold;
    justify-content:center;
}

main section > div
{
    width:100%;
    flex-direction:column;
    align-items:center;
}

.FlexDivWithWallpapers
{
    width:100%;
    flex-wrap:wrap;
    justify-content:center;
}

.FlexDivWithWallpapers > div
{
    flex-direction:column;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

figure
{
    flex-direction:column;
    align-items:center;
}

.MainDiv
{
    margin-top:20px;
}

.DivWithImage
{
    width:350px;
    height:200px;
    align-items:center;
    justify-content:center;
}

figure:hover figcaption
{
    position:relative;
    z-index:2;
}

figure:hover ~ a
{
    position:relative;
    z-index:2;
}

@media screen and (max-width:830px)
{
    main section
    {
        width:100%;
    }

    .MainDiv
    {
        margin-top:20px;
        flex-direction:column;
        align-items:center;
    }

    main
    {
        width:100%;
    }

    .FlexDivWithWallpapers
    {
        width:100%;
        flex-wrap:nowrap;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
}

@media screen and (max-width:599px)
{
    section img
    {
        width:260px;
        height:160px
    }

    section img:hover
    {
        width:260px;
        height:160px
    }
}
