
/*Задаем позиционирование и z-index для body, чтобы изображения при увеличении (по наведению курсора) могли находиться выше по оси z  */
body {
    position:relative;
    z-index:0;
}

.MainDiv
{
    margin-top:20px;
    display:flex;
    width:100%;
    height:auto;
}

.MainDiv *
{
    display:flex;
}

main
{
    width:calc(100% - 216px);
    height:auto;
    background-color:#6A94D4;
}

main section
{
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-left:5%;
    width:90%;
    height:auto;
}

article
{
    height:auto;
    width:100%;
    margin-top:20px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:solid;
    border-color:orange;
    border-width:2px;
    background-color:#0F4DA8;
}

.DivWithContent
{
    border-bottom:solid;
    border-bottom-color:orange;
    border-bottom-width:2px;
    border-top:solid;
    border-top-color:orange;
    border-top-width:2px;
    height:auto;
    width:100%;
    background-color:transparent;
    justify-content:center;
}

.DivWithImage
{
    align-items:center;
    justify-content:center;
    width:170px;
    height:147px;
}

article img
{
    width:100%;
    height:100%;
}

article img:hover
{
    width:auto;
    height:auto;
    position:relative;
    z-index:1;
}

article header 
{
    justify-content:center;
    width:100%;
    height:auto;
}

article header h3
{
    justify-content:center;
    width:100%;
    height:auto;
    font-size:27px;
    color:#FFFD00;
}

article p
{
    justify-content:center;
    width:100%;
    height:auto;
    font-size:20px;
    color:white;
    margin-top:15px;
}

article a:hover
{
    color:#c8ea16;
}

article time
{
    justify-content:center;
    width:100%;
    height:auto;
    font-size:20px;
    text-wrap:normal;
    color:#FFFC00;
}

.DivWithTextAndVideo
{
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:auto;
    width:calc(100% - 170px);
}

@media screen and (max-width:1050px)
{
    .MainDiv iframe
    {
        display:block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }

    .DivFlexWithVideo
    {
        width:100%;
        height:auto;
        flex-direction:column;
    }

    .MainDiv .DivBlockWithVideo
    {
        display:block;
        position: relative;
	    padding-bottom: 56.25%;
        width:100%;
	    height: 0;
    }
}

@media screen and (max-width:600px)
{
    .MainDiv
    {
        flex-direction:column;
        align-items:center;
    }

    main
    {
        width:100%;
    }

    .DivWithContent
    {
        flex-direction:column;
        align-items:center;
    }

    .DivWithTextAndVideo
    {
        width:100%;
    }
}