
.MarginTop{
    margin-top:50px;
}

*{
    margin:0;
    padding:0;
}

.DisplayAsBlock
{
    display:block;
}

.DivWithUserMessage
{
    border-color:black;
    border-width:2px;
    border-style:solid;
}

.DivWithUserMessage > p:nth-child(1)
{
    font-weight:bold;
}

.DivWithUserMessage > p:nth-child(2)
{
    color:blue;
}

.DivWithUserMessage span
{
    font-weight:bold;
    color:red;
}

.FlexRowCenterWithSpaceBetweenItems
{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    padding:5px;
}

.FlexRowCenterWithSpaceBetweenItems > *
{
    margin:5px;
}

.FlexRow
{
    display:flex;
    flex-direction:row;
}

.FlexColumnCenter
{
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    text-align:center;
}

.MarginCenter
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.TextAreaForUserMessage
{
    height:100px;
}