<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopAuto.Properties.Settings.I__С_РАБОЧЕГО_PC__УЧЕБНОЕ__ИСОЗИ_434_436_438_2013_2014__МАТЕРИАЛЫ_ИСОЗИ_ISOZI_GZ_18_DBAUTO_MDFConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=&quot;I:\С РАБОЧЕГО PC\_УЧЕБНОЕ\_ИСОЗИ_434-436,438_2013-2014\_МАТЕРИАЛЫ\ИСОЗИ\ISOZI\GZ_18\DBAUTO.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>