
@using RaceInfrastructure
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<span>Participants</span>
@foreach (Car CurrentCar in Model.CurrentRaceManager.GetAllCars())
{
    @Html.Partial(ApplicationConstants.PathFromRouteToCarPartialView, CurrentCar);
}