
@using RaceInfrastructure
@using RaceWebsite.ClassesForRaceWebsite

@model RaceWebsite.Models.RaceParticipantsModel

@{
    Layout = null;
}

<span>@Resources.Texts.SpanParticipants</span>
@if (Model.AdminIsHere)
{
    if (Model.CurrentRaceManager.NewRaceCanBeCreated)
    {
        foreach (Racer CurrentRacer in Model.CurrentRaceManager.RaceRepository.AllRacers)
        {
            <span>@CurrentRacer.FirstName @CurrentRacer.SecondName</span>
            <input type="hidden" name="SelectedCarID" value="@CurrentRacer.RacerID.ToString()"/>
        }
    }
    else
    {

    }

}
