
@model NewsDataAccess.News

@{
    Layout = null;
}

<div>
    <p>@Model.Header</p>
    <input type="submit" value="@Resources.Texts.ButtonDetailsAboutNews" />
</div>
<p>@Model.Body</p>
<div>
    <p>@Model.Date.ToString()</p>
</div>



