body {
}

.FlexColumnCenter
{
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    text-align:center;
}

.DivWithDisguisedLink
{

}

.HalfWidth
{
    width:50%;
}

.BigText
{
    font-size:20px;
    font-weight:bold;
}

