
@using NewsWebsite.ClassesForNewsWebsite
@using NewsDataAccess
@model NewsWebsite.Areas.News.Models.PageWithListOfNews

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
    <link href="~/CSS/News.css" rel="stylesheet" />
    @if (Model.AdminIsHere)
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/JS/jquery.jeditable.mini.js"></script>
        <script type="text/javascript" src="~/JS/EditableNews.js"></script>
    }
</head>
<body>
    <div> 
        <div class="FlexColumnCenter">
            @Html.ActionLink(Resources.Texts.LinkBackToHomePage, "Index", new { controller = "MainPage", area = "" });
            <p class="HeaderForMainPage">@Resources.Texts.HeaderNews</p>
        </div>
        @foreach (News CurrentNews in Model.AllNews)
        {
            <div class="FlexColumnCenter">
                @Html.Partial(ApplicationConstants.PathFromRouteToNewsPartialView, new NewsForPartialView(CurrentNews))
            </div>
        }
    </div>
</body>
</html>
