
@using NewsWebsite.ClassesForNewsWebsite
@using NewsDataAccess
@model NewsWebsite.Areas.News.Models.PageWithListOfNews

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
    <link href="~/CSS/News.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <div class="FlexColumnCenter">
            <p class="HeaderForMainPage">@Resources.Texts.HeaderNews</p>
        </div>
        @foreach (News CurrentNews in Model.AllNews)
        {
            <div class="FlexColumnCenter">
                @Html.Partial(ApplicationConstants.PathFromRouteToNewsPartialView, new NewsForPartialView(CurrentNews))
            </div>
        }
    </div>
</body>
</html>
