
@model NewsWebsite.Areas.News.Models.PageWithListOfNews

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>News list</p>
        @foreach (NewsDataAccess.News CurrentNews in Model.AllNews)
        {
            
        }
    </div>
</body>
</html>
