
@using NewsDataAccess
@using NewsWebsite.ClassesForNewsWebsite
@model NewsDataAccess.News
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSelectedNews</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
    <link href="~/CSS/News.css" rel="stylesheet" />
</head>
<body>
    <div class="FlexColumnCenter"> 
        @Html.ActionLink(Resources.Texts.LinkBackToAllNews, "Index", new { controller="News", area="News" });
        <div class="FlexColumnCenter">
            @Html.Partial(ApplicationConstants.PathFromRouteToNewsPartialView, new NewsForPartialView(Model) { Selected = true })
        </div>
        @foreach (Comment CurrentComment in Model.Comments)
        {
            <div>
                @Html.Partial(ApplicationConstants.PathFromRouteToCommentPartialView, CurrentComment)
            </div>
        }
    </div>
</body>
</html>
