
@model NewsWebsite.Areas.News.Models.SelectedNews
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSelectedNews</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
