<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ep_1">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="ep_2" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/DiskInfoService/ep_1"
                binding="customBinding" bindingConfiguration="ep_1" contract="DriversInfoService.IDiskInfo"
                name="ep_1" />
            <endpoint address="net.tcp://localhost:8081/DiskInfoService/ep_2"
                binding="netTcpBinding" bindingConfiguration="ep_2" contract="DriversInfoService.IDiskInfo"
                name="ep_2">
                <identity>
                    <servicePrincipalName value="host/master-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>