
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       @Html.ActionLink(@Resources.Texts.LinkCreateNews, "MenuForCreationgNews", new { controller="Admin", area="Admin" }) 
    </div>
</body>
</html>
