
@using NewsWebsite.ClassesForNewsWebsite 
@model NewsWebsite.Areas.Admin.Models.ModelForNewsCreationMenu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuForCreationgNews</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <div>
        @Html.ActionLink(Resources.Texts.LinkBackToAdminMainPage, "Index", new { controller = "Admin", area = "Admin" })
        @Html.EditorFor(m => m.CurrentNews)
    </div>
</body>
</html>
